# ignore ALL files in ANY directory named import
import/
output/

# ignore ALL files in ANY directory named __pycache__
__pycache__/

# ignore ALL files in ANY directory named .vscode
.vscode/

# ignore ALL files in ANY directory named venv
venv/

# ignore ALL files in ANY directory named venv
venv_windows/