# ignore ALL files in ANY directory named import
# import/

# ignore ALL files in ANY directory named __pycache__
__pycache__/

# ignore ALL files in ANY directory named .vscode
.vscode/

# ignore ALL files in ANY directory named venv
venv_mac_os/

# ignore ALL files in ANY directory named venv
venv_windows/